.no-link, .no-link:hover{
    text-decoration: none; 
    color:#212529;
}

.fa-solid{
    padding: 0.3rem;
    margin-left: 5px;
}

.fa-solid:hover{
    background-color: #dddddd;
    border-radius: 50%;
    cursor: pointer;
}

.div-emails{
    height: 86vh;
}

.div-email{
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
}

button{
	background: none;
	border: none;
	padding: 0;
	outline: inherit;
}

form{
    display: none;
}

.hide-div {
    display: none;
}

.show-div {
    display: none;
}